.products_main {
  width: 100%; 
}

.product_inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product_card {
  width: 25%;
}

.product_card_inner {
  padding: 20px;
  margin: 20px;
  border: 1px solid gray;
}

.product_img_div {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_img_div img {
  width: 50%;
  height: 80%;
}

.price_cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price_cart h3 {
  color: green;
  font-size: 30px;
}

.price_cart h3 span {
  font-size: 25px;
  color: gray;
}

.price_cart button {
  font-size: 14px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid rgb(167, 165, 165);
  border-radius: 2px;
  cursor: pointer;
}








.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
}

.pagination li {
  margin: 0 10px;
  cursor: pointer;
  color: #333;
}

.pagination li.active {
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li:hover:not(.active) {
  color: #007bff;
}

.hide {
  visibility: hidden;
}

.show {
  display: block;
}